<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="site.css">

    <title>Industrial Incremental</title>
</head>

<body>
    <h1>Industrial Incremental</h1>
    <div id="app" class="container">
        <div class="sidebar">
            <div v-for="res in resources">
                <resource-component :resource="res"></resource-component>
            </div>
        </div>
        <div class="top">
            <p>Placeholder</p>
        </div>
        <div class="main-area">
            <div v-for="producer in producers">
                <producer-component :producer="producer"></producer-component>
            </div>
        </div>
    </div>
</body>

<script src="./dist/build.js"></script>

</html>