body {
  background-color: #002b36;
  color: #839496;
  font-family: 'Assistant', sans-serif;
}

a {
  text-decoration: none;
}

a:link {
  color: #859900;
}

a:visited {
  color: #6c71c4;
}

a:hover {
  text-decoration: underline;
  color: #dc322f;
}

a:active {
  text-decoration: underline;
  color: #268bd2;
}

.container {
  display: grid;
  grid-template-columns: 20% 20% 20% 40%;
  grid-template-rows: 100%;
}

.sidebar {
  grid-column: 1;
  grid-row: 1;
  margin-right: 0.5rem;
}

.details {
  grid-column: 4;
  grid-row: 1;
}

.branch-list {
  grid-column: 2;
  grid-row: 1;
}

.object-list {
  grid-column: 3;
  grid-row: 1;
}

.top-column {
  display: flex;
  flex-direction: column;
}

.btn {
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 6px 12px 6px 12px;
  text-decoration: none;
  cursor: pointer;

  color: #eee8d5;
  background: #268bd2;
}

.btn.danger {
  color: #eee8d5;
  background: #dc322f;
}

.btn:disabled {
  background-color: #002b36;
  color: #839496;
  border: 1px solid #839496;
  cursor: default;
}

.selectButton {
  text-align: center;
  padding: 0 0.25rem;
  margin: 0.125rem;
  border: 1px solid #839496;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;
}

.selectButton > p {
  margin: 0.5rem 0;
}

.selectButton.available {
  font-weight: bold;
  background-color: #073642;
}